body.rome {
    background: url('image/colosseum.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 150px; /* Adds padding to the bottom of the body */
}

header.rome {
    background-color: #3d3b3b;
    text-align: center;
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav-list a:hover,
.nav-list a.active {
    background-color: #575757;
    border-radius: 4px;
}

.text-box {
    background-color: rgba(169, 187, 198, 0.63);
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Changed from 20% to 80% for better readability on small screens */
    margin: 20px auto; /* Center horizontally and add margin for spacing */
    text-align: center; /* centers the text in the text box */
}

.text-box h2,
.text-box p {
    color: #090003; /* Adjusted color of text for h2 and paragraph */
}

footer.rome {
    text-align: center;
    background-color: #3d3b3b;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.italian-flag-text {
    background: linear-gradient(to right, #008000, #ffffff, #ff0000);
    -webkit-background-clip: text;
    color: transparent;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    header.rome {
        padding: 10px 0;
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-list li {
        margin: 10px 0;
    }
    .text-box {
        width: 90%; /* Adjust width for better readability */
    }
    footer.rome {
        padding: 10px 0;
    }
}

/* Media query for very small screens */
@media (max-width: 480px) {
    .nav-list a {
        padding: 5px 10px; /* Adjust padding for smaller screen */
    }
    .text-box {
        width: 95%; /* Further adjust width for very small screens */
    }
}
