body.rome {
    background: url('image/colosseum.jpg') no-repeat right center fixed;
    background-size: cover;
    color: transparent; /* Set default text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 150px; /* Adds padding to the bottom of the body */
}

header.rome {
    background-color: #3d3b3b;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

header.rome h1 {
    background: linear-gradient(to right, green, white, red); /* Italian flag gradient */
    -webkit-background-clip: text;
    color: transparent;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav-list a:hover,
.nav-list a.active {
    background-color: #575757;
    border-radius: 4px;
}
/*
main.rome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    margin-top: -24vh; 
}
*/
footer.rome {
    text-align: center;
    margin-top: auto;
    background-color: #3d3b3b;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-box {
    background: linear-gradient(to right, #171c4354, #979bb549); /* Adjusts gradient */
    padding: 10px;
    border-radius: 10px;
    width: 25%; /* Adjusts width */
    margin: 50px auto; /* Adjusts margin */
    text-align: center; /* Center align text */
    /* color: #fff; /* Set text color */
}

.gradient-text {
    background: linear-gradient(to right, green, white, red);
    -webkit-background-clip: text;
    color: transparent;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .text-box {
        width: 80%; /* Adjusts width for smaller screens */
    }
}
