body.santorini {
    background: url('image/santoriniWindmill.jpg') no-repeat right center fixed;
    background-size: cover;
    color: transparent; /* Set default text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 150px; /* Adds padding to the bottom of the body */
}

header.santorini {
    background-color: #3d3b3b;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

header.santorini h1 {
    background: linear-gradient(to right, #0000ff, #ffffff, #0000ff); /* Adds gradient effect */
    -webkit-background-clip: text;
    color: transparent;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav-list a:hover,
.nav-list a.active {
    background-color: #575757;
    border-radius: 4px;
}
/*
.main.santorini {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
     margin-top: -24vh; 
}
*/
footer.santorini {
    text-align: center;
    margin-top: auto;
    background-color: #3d3b3b;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-box {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    width: 25%; /* Adjusted width for better readability */
    margin: 50px auto; /* Center horizontally and add margin for spacing */
    text-align: center; /* Centers the text in the text box */
    /*color: #fff; /* Set text color */
}

.text-box h2,
.text-box p {
    color: #3ae16a; /* Adjusted color of text for h2 and paragraph */
}

.gradient-text {
    background: linear-gradient(to right, #0000ff, #ffffff, #0000ff);
    -webkit-background-clip: text;
    color: transparent;
}

footer.santorini p {
    color: white; /* Set text color for the copyright information */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .text-box {
        width: 90%; /* Adjust width for smaller screens */
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-list li {
        margin: 10px 0;
    }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .text-box {
        width: 80%; /* Adjusts width for smaller screens */
    }
}
