/* Existing CSS styles */

body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    color: #463f95;
    background: url('image/20240321_100740.jpg') no-repeat center center fixed; /* background image */
    background-size: cover;
    padding-bottom: 150px; /* Add padding to the bottom of the body */
    position: relative; /* Ensure proper positioning */
    min-height: 100vh; /* Ensure body covers the full viewport height */
}

header {
    background-color: rgba(240, 240, 240, 0.9);
    color: #ba3b3b;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 32px;
    background: linear-gradient(to right, #ADD8E6, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 20px 0;
}

main {
    padding: 2rem;
    text-align: center;
    margin-bottom: 60px; /* Adjust margin to leave space for the footer */
}

.image-tags {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.image-tags-bottom {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.image-link {
    display: block;
    position: relative;
    width: 300px; 
    height: 200px; 
    text-decoration: none;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: calc(100% - 20px);
}

.image-overlay:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 20px;
}

footer p {
    margin: 0; /* Reset default margin */
}

@media (max-width: 768px) {
    .image-tags,
    .image-tags-bottom {
        flex-direction: column;
        align-items: center;
    }
}

/* New CSS styles for Caveat font */
.caveat-font {
    font-family: 'Caveat', cursive;
}

/* New CSS styles for the table */
.time-table {
    border: 5px solid black;
    background-color: white; /* Change background color to white */
    color: black; /* Change text color to black */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .text-box {
        width: 80%; 
    }
}
