body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
    color: #463f95; 
}

header {
    background-color: rgb(240, 240, 240); 
    color: #ba3b3b; 
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #444; 
    color: #36813d; 
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
    position: relative; 
}

.image-overlay {
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.image-link {
    position: relative; 
    z-index: 1;
    text-decoration: none; 

.image-overlay:hover {
    background-color: rgba(255, 255, 255, 0.9); 
}
